<ion-view view-title="{{title}}">
  <ion-content>
	<div class="card">
		<div class="row">
			<div class="col col-90 client">
				<img src="img/adam.jpg" class="img-responsive img-circle">
			</div>
		</div>
		<div class="row row-center">
			<div class="col col-100 item item-body text-center">
				<h2>John Mgbako</h2>
				<h3>UI & UX Designer</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, voluptate!</p>
				<button class="button button-block button-balanced">
				  Call
				</button>
				<button class="button button-block button-positive">
				  Message
				</button>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="item item-divider report-header">Contact Details</div>
		<div class="item item-body">
			<p><i class="icon ion-iphone"></i>+23478794400303</p>
			<p><i class="icon ion-email"></i>james@imagine.com</p>
			<p><i class="icon ion-ios-location"></i>83 allen avenue. ikeja, Lagos</p>
		</div>
	</div>
  </ion-content>
</ion-view>
