<ion-view view-title="Notes">

  <ion-content>
	<div class="card" ui-sref="app.singleNote({id:1})">
		<div class="note-title">
			<div class="item item-divider report-header">
		    	<h2>Buying Tools</h2>
		  	</div>
		</div>
		<div class="row">
			<div class="col col-100">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ullam magni ex, facilis, dignissimos cupiditate. Temporibus delectus iste voluptate beatae, sequi aliquid expedita ipsum est minima quidem sunt perspiciatis laboriosam.
			</div>
		</div>
		<div class="row time">
			<div class="col col-50">
				<i class="icon ion-calendar">&nbsp;&nbsp;</i><span>11/07/2016</span>
			</div>
			<div class="col col-50">
				<i class="icon ion-ios-clock">&nbsp;&nbsp;</i><span>10:28</span>	
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
