<ion-content scroll="false" id="slides">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
        <div class="img-wrapper">
          <img src="img/financialchart.png" alt="" class="img-responsive img-circle">
        </div>
       <button class="button button-block button-balanced" ui-sref="app.home">Get Started</button>
    </ion-slide-page>
    <ion-slide-page>
      <div class="img-wrapper">
        <img src="img/register.png" alt="" class="img-responsive img-circle">
      </div>
      <button class="button button-block button-balanced" ui-sref="app.register">Register</button>
    </ion-slide-page>
    <ion-slide-page>
       <button class="button button-block button-balanced" ui-sref="app.login">Login</button>
    </ion-slide-page>
  </ion-slides>
</ion-content>